html, body{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1:after{
    content: "";
    animation: 6s swap infinite;
    background: blue;
    padding: 10px;
    color:#fff;
    border-radius: 4px;
    margin-left: 4px;
}
@keyframes swap{
    0%{
        content: " singing";
    }
    25%{
        content: " cats";
    }
    50%{
        content: " coding";
    }
    75%{
        content: " scrimba";
    }
    100%{
        content: " singing";
    }
}

