html, body{
    margin: 0;
    padding: 0;
    background-color: #161515;
}

.flag-madagasca{
    height: 150px;
    width: calc(150px*1.5);
    background: #f9f5f5;
    margin: 2em auto;
    display: flex;
}

.white{
    background: #fff;
    width: calc(150px/2);
}

.red{
    background: red;
    height: calc(150px/2);
    width: 150px;
}

.green{
    background: green;
    height: calc(150px/2);
}

