html, body{
    margin: 0;
    padding: 0;
}

.flag-swiss{
    height: 200px;
    width: 200px;
    background: red;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cross{
     height: calc(200px*3/16);
    width : calc(200px*5/8);
    background: #fff;
}

.cross2{
    transform: rotate(90deg);
    position: absolute;
}
/*.cross1{
    height: calc(200px*3/16);
    width : calc(200px*5/8);
    background: #fff;
}

.cross2{
     height: calc(200px*5/8);
    width : calc(200px*3/16);
    background: #fff;
    position: absolute;

} */
 